<div class="page-header">
  <h1>Your Lists</h1>
  <h3><i>You have <%= pluralize(@lists.count, 'list') %></i></h3>
</div>

<% @lists.each do |list| %>
	<h4><%= link_to list.name, list %><h4>
<% end %>
