<div class="page-header">
  <h1>Update this Task</h1>
</div>
<%= form_for(@task) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>