<div class="page-header">
	<h1>Simple To Do</h1>
	<h3>A test driven rails app using Devise, RSpec and Bootstrap</h3>
</div>

<div class="row">
	<div class="col-lg-6">
		<h4>
			<ul>
				<li>Create and manage multiple task lists</li>
				<li>Add and manage individual tasks</li>
				<li>Search and sort lists and tasks</li>
				<li>Share your list with friends</li>
			</ul>
		</h4>
	</div>


	<div class="col-lg-6">
		<h3>Want to take a sneak peak? Just log in with the example guest user...</h3>
		<h4>Email Address: <i>guest@example.com</i></h4>
		<h4>Password: <i>guestuser</i></h4>
	</div>
</div>
